.cq-apps-CardDashboard-AppDetails.custom {
  .cq-apps-CardDashboard-body {
    background-image: url('/content/dam/evolve/3share.png');
    background-position: bottom right;
    background-repeat: no-repeat;
  }
}


